<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <img class="logo" src="assets/logos/logo.png" alt="Logo" />
    </div>
    <nav class="nav" id="nav">
      <a href="index.html">Accueil</a>
      <a href="roster.html">Roster</a>
      <a href="galerie.html">Galerie</a>
      <a href="contact.html">Contact</a>
    </nav>

    <button class="menu-btn" aria-label="Ouvrir le menu" aria-expanded="false">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-menu-icon lucide-menu"
      >
        <path d="M4 5h16" />
        <path d="M4 12h16" />
        <path d="M4 19h16" />
      </svg>
    </button>
  </div>
</header>

