.presentation-border {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.presentation-border span {
    position: absolute;
    display: block;
    background: var(--secondary);
    box-shadow: 0 0 8px rgba(251, 54, 64, 0.25);
}

/* HAUT */
.border-top {
    top: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    animation: border-top 4s ease-in-out forwards;
}

/* DROITE */
.border-right {
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    animation: border-right 4s ease-in-out forwards;
}

/* BAS */
.border-bottom {
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    animation: border-bottom 4s ease-in-out forwards;
}

/* GAUCHE */
.border-left {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    animation: border-left 4s ease-in-out forwards;
}


/* =========================
   ANIMATIONS
   ========================= */

@keyframes border-top {

    /* centre */
    0% {
        width: 0;
    }

    /* expansion vers gauche + droite */
    22% {
        width: 100%;
    }

    /* cadre complet */
    42% {
        width: 100%;
    }

    /* disparition */
    72% {
        width: 100%;
    }

    /* retour vers le centre */
    100% {
        width: 0;
    }
}

@keyframes border-right {

    /* attendre que le haut atteigne les coins */
    0%,
    22% {
        height: 0;
    }

    /* descente */
    42% {
        height: 100%;
    }

    /* cadre visible */
    72% {
        height: 100%;
    }

    /* remontée */
    100% {
        height: 0;
    }
}

@keyframes border-bottom {

    /* attendre les côtés */
    0%,
    42% {
        width: 0;
    }

    /* extension vers la gauche */
    55% {
        width: 100%;
    }

    /* cadre complet */
    72% {
        width: 100%;
    }

    /* rétraction */
    100% {
        width: 0;
    }
}

@keyframes border-left {

    /* attendre que le bas soit atteint */
    0%,
    55% {
        height: 0;
    }

    /* fermeture du cadre */
    65% {
        height: 100%;
    }

    /* cadre complet */
    72% {
        height: 100%;
    }

    /* remontée */
    100% {
        height: 0;
    }
}